<div class="container mt-3">
  <h1>Add a new dog!</h1>

  <%= simple_form_for @dog do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :breed %>
    <%= f.input :description %>
    <%= f.input :hypoallergenic, as: :radio_buttons %>
    <%= f.input :energy, collection: 1..5 %>
    <%= f.input :affection, collection: 1..5 %>
    <%= f.input :size, collection: 1..5 %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
