<h1><%= @dog.name %></h1>

<%= cl_image_tag @dog.photo.key, height: 250, width: 300, crop: :fill %>

<%# stats %>
<div class='d-flex flex-column p-2'>
  <%# Dog's energy rating: %>
  <div class='d-flex flex-row align-items-center justify-content-between'>
    <p class='m-0'>Energy: </p>
    <div class='d-inline-flex'>
      <% @dog.energy.times do %>
        <i class="fas fa-bolt p-1" style='color:#ffc800'></i>
      <% end %>
      <% (5 - @dog.energy).times do %>
        <i class="fas fa-bolt p-1" style='color:#8c8c8c'></i>
      <% end %>
    </div>
  </div>

  <%# Dog's affection rating: %>
  <div class='d-flex flex-row align-items-center justify-content-between'>
    <p class='m-0'>Affection: </p>
    <div class='d-inline-flex'>
      <% @dog.affection.times do %>
        <i class="fas fa-heart p-1" style='color:#cc0000'></i>
      <% end %>
      <% (5 - @dog.affection).times do %>
        <i class="fas fa-heart p-1" style='color:#8c8c8c'></i>
      <% end %>
    </div>
  </div>

  <%# Dog's size rating: %>
  <div class='d-flex flex-row align-items-center justify-content-between'>
    <p class='m-0'>Size: </p>
    <div class='d-inline-flex'>
      <% @dog.size.times do %>
        <i class="fas fa-dog p-1" style='color:#331d14'></i>
      <% end %>
      <% (5 - @dog.size).times do %>
        <i class="fas fa-dog p-1" style='color:#8c8c8c'></i>
      <% end %>
    </div>
  </div>

  <%# Alergenic or not %>
  <div class='d-flex flex-row align-items-center justify-content-between'>
    <p class='m-0'>Hypoallergenic: </p>
    <div class='d-flex justify-content-center flex-grow-1'>
      <% if @dog.hypoallergenic == true %>
        <i class="fas fa-check" style='color:#2b9600'></i>
      <% else %>
        <i class="fas fa-ban" style='color:#700000'></i>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= @dog.breed %>
</div>

<div>
  <%= @dog.description %>
</div>

<div>
  <%= @dog.address %>
</div>

<div id="map"
     style="width: 100%; height: 480px; margin-top: 10px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if @dog.user == current_user %>
  <%= link_to edit_dog_path(@dog) do %>
    <button type="button" class="btn btn-secondary btn-md mr-1 mb-2">Edit <%= @dog.name %>'s info</button><br/>
  <% end %>
  <%= link_to dog_path(@dog), method: :delete, data: { confirm: "Are you sure you want to remove #{@dog.name} from the website?" } do %>
    <button type="button" class="btn btn-danger btn-md mr-1 mb-2">Remove <%= @dog.name %></button><br/>
  <% end %>
<% else %>
  <%= link_to "Back", dogs_path, class: "btn btn-secondary", style: 'color:white'%>
  <%= link_to "Schedule time with #{@dog.name}", new_dog_reservation_path(@dog), class: "btn btn-primary", style: 'color:white'%>
<% end %>
