<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.mondou.com/media/ed9d49cc-4a52-44cb-83e7-fdc4b53fe44d/Ei1eaQ/Blogue/Zooth%C3%A9rapie/Novembre2017/CO_Zootherapie_780x340.jpg);">
  <div class="container">
    <div class="inside">
      <h1>Meet a dog</h1>
      <p>Make a new friend along the way</p>
      <%# <%= link_to "Let's go!", dogs_path, class: "btn btn-lg btn-ghost", id: 'cta' %> %>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h1>When and where?</h1>

  <%= simple_form_for @search, url: create_search_path do |f| %>
    <%= f.input :address %>
    <%= f.input :date %>
    <%= f.input :radius, collection: 1..50, selected: 5 %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>

<%# Dog cards %>
<div class='d-flex justify-content-center my-4', style='margin-bottom:50px'>
  <div class='card-grid'>
    <% @dogs.each do |dog| %>
      <div class='grid-item'>
        <%= render 'shared/dog_card', dog: dog %>
      </div>
    <% end %>
  </div>
</div>
