<div class="container">
  <h1 class="text-center mt-3">My reservations</h1>
  <table class="table table-hover table-bordered">
  <thead>
      <tr>
        <th scope="col">Dog Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td>
          <%= reservation.dog.name %>
          <%= link_to dog_path(reservation.dog) do %>
            <i class="fas fa-info-circle" style='color:#006edb'></i>
          <% end %>
        </td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= reservation.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class='d-flex justify-content-center mt-3'>
    <%= link_to "Book time with another dog", dogs_path, class: "btn btn-primary", style: 'color:white'%>
  </div>
</div>
